* {
  box-sizing: border-box;
}
/* @media (max-width: 767px) {
  .container_content {
    grid-template-rows: 4rem auto auto 45px;
    grid-template-columns: 16rem auto;

    grid-template-areas:
      "logo header"
      "sidebar sidebar"
      "main-content main-content"
      "footer footer";
  }
} */
:root {
  /* --gridCols: 4;
  --gridRows: 4; */
  --color-Gris: rgb(240 238 238);
  --color-Rojo: rgb(255, 100, 0);
  --color-Azul: rgb(82 100 158);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 100, 0);
  font-family: sans-serif;
}
a,
a:active,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  background: #2dc61f;
  border: 2px solid black;
  border-radius: 20px;
  width: 103px;
  height: 36px;
  padding-top: 5px;
}
h3 {
  padding-left: 10px;
  padding-right: 20px;
}
.container_nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: white;
  width: 80%;
  height: 100px;
  border: 4px;
  border-style: solid;
  border-radius: 15px;
  padding-right: 25px;
}
.container_content {
  display: inline-grid;
  border: 10px solid white;
  /* gap: 0px 0px; */
  visibility: hidden;
  border-radius: 16px;
}
.patron_container {
  display: inline-grid;
  /* gap: 0px 0px; */
  padding-left: 35px;
}
.grid-item {
  /* padding: 1em; */
  border: 1px solid #ddd;
  text-align: center;
  background: var(--color-Azul);
  /* border-radius: 5px; */
  width: 1.6em;
  height: 1.6em;
  /* width: 25px;
    height: 25px; */
}
.patron__grid-item {
  /* padding: 1em; */
  background: var(--color-Azul);
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
  width: 25px;
  height: 25px;
}
.cell_selected {
  background: yellow;
  transform: rotate();
}
/* grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5; */

.rows {
  height: 25px;
  width: 40px;
}
.cols {
  height: 25px;
  width: 40px;
}
